
/* 登陆成功后加载的页面 */
.select{
	/*max-width:800px;*/
	min-width:50px;
	overflow:hidden;
	border:2px solid #ccc;
}
.select span{
	display:inline-block;
	padding:6px 20px;
	float:left;
	margin:10px;
	background:#EEB442;
	border-radius:5px;
}
.select a{
	display:block;
	text-decoration:none;
	color:#FF4500;
	margin:5px auto;
	text-align:center;
}

/* login */
.state{
	overflow: hiddden;
	margin:50px auto;
	/*padding:50px;*/
	/*background:#eee;*/
	height:50px;
	max-width:400px;
	/*box-shadow:2px 2px 10px #06c;*/
	/*border-radius:5px;*/
}
.login{
	overflow: hiddden;
	margin:20px auto;
	padding:50px;
	background:#eee;
	max-width:400px;
	box-shadow:2px 2px 10px #06c;
	border-radius:5px;
}
input{
	padding:5px;
	display:block;
	margin:20px auto;
	width:150px;

}
input[type=text]{
	/*padding:5px;*/
	/*display: block;*/
	/*border:2px soild #696;*/
	font-size:16px;
}
input[type=password]{
	/*padding:5px;*/
	/*display: block;*/
	/*border:2px soild #696;*/
	font-size:16px;
}
}